
<div class="chatInterface">
	<div class="chatHeader">
		Chart Room name
		<hr>
	</div>
	<div class="form-group">
     <input type="text" placeholder="Search Mgs History" class="form-control searchText">

    </div>

	<div class="chatHistory">
		<span data-ng-repeat="m in chatMgsdetails" class="chatHistorymsg">
			<span class="textStyle">Username:&nbsp;&nbsp;</span>{{m.uName}}
			<span class="textStyle">Message:&nbsp;&nbsp;</span>{{m.msg}}
			<span class="textStyle">Time:&nbsp;&nbsp;</span>{{m.dateTime}}
		</span>
	</div>


	<div class="chatinput">
		<form>
		  <fieldset>
			<div class="form-group">
			  <textarea class="form-control" rows="2" cols="50" data-ng-model="chatText" data-ng-change="checkLength()"></textarea>
			</div>
		  </fieldset>
			<fieldset>
			  <div>
				  <button type="button" class="btn btn-warning sendButton" data-ng-click="postMsg()" data-ng-disabled = "!sendFlag">Send</button>
			  </div>
			</fieldset>
		</form>

	</div>
</div>
