<div class="chatRoom">
<div class="chatHeader">
	CHAT ROOM
</div></br>
<hr>
<div class="chatDetailsWrapper">
	<a href="#dev/2" class="charRoomItems">
		Development
	</a>
	<div class="charRoomItems">
		Testing
	</div>
	<div class="charRoomItems" style="margin-right: 0">
		Design
	</div>
	<div class="charRoomItems">
		CR1
	</div>
	<div class="charRoomItems">
		CR2
	</div>
	<div class="charRoomItems" style="margin-right: 0">
		CR3
	</div>
	<div class="charRoomItems">
		CR4
	</div>
	<div class="charRoomItems">
		CR5
	</div>
	<div class="charRoomItems" style="margin-right: 0">
		CR6
	</div>
	<div class="charRoomItems">
		CR7
	</div>
	<div class="charRoomItems">
		CR8
	</div>
	<div class="charRoomItems" style="margin-right: 0">
		CR9
	</div>
</div>
</div>